@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove default spacing */
body, #root {
  margin: 0;
  padding: 0;
}

/* Apply responsive background to root */
#root {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/images/la_villita_mobile.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

@media (min-width: 768px) {
  #root {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/images/la_villita.jpeg);
  }
}